.changePassword {
    width: 65%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.changePassword > * {
    margin-bottom: 20px;
}

.changePassword > h3 {
    align-self: flex-start;
}

.changePassword form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.changePassword form > *:not(.error) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.changePassword label > span {
    margin: 5px 0;
}
