.displayNotes {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 10px;
}

.displayNotes > div:first-child {
    padding: 30px 0;
}

.displayNotes > div:first-child h3 {
    font-size: xx-large;
}

.displayNotes > .usersNotes {
    padding: 10px 5px;
    border: 1px solid lightslategrey;
    border-radius: 3px;
    margin-bottom: 20px;
}

.displayNotes > .usersNotes > * {
    margin-bottom: 10px;
}

.displayNotes > .usersNotes > p:first-child {
    font-weight: bold;
}

.displayNotes > .usersNotes > .userNotes {
    display: flex;
    flex-wrap: wrap;
}

.displayNotes > .usersNotes > .userNotes > .userNote {
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid lightslategrey;
}




