.home {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.home table {
    width: 30%;
    align-self: center;
}

.home table > tr {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.home table td, table th {
    border: 1px solid lightslategrey;
    padding: 5px 2px;
    text-align: center;
}
