.updateUser {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.userSelection {
    margin-top: 50px;
    display: flex;
}

.userSelection label {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.userEdition {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.userEdition > * {
    margin-bottom: 20px;
}

.userEdition > h3 {
    align-self: flex-start;
}

.userEdition .updateUserForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.userEdition .updateUserForm > *:not(.error) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.userEdition label > span {
    margin: 5px 0;
}

.userEdition > .updateUserForm > .roleRadio {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.userEdition > .updateUserForm > .roleRadio > label {
    margin-right: 20px;
}

.updateUser .success {
    align-self: center;
    justify-self: center;
}
